<aside class="mdl-cell mdl-cell--3-col">
  Olá <%= current_user.name %>

  <div id="user_list" class="demo-list-action mdl-list docs-text-styling mdl-shadow--4dp">
    <%= render @users %>
  </div>

</aside>


<div class="mdl-cell mdl-cell--9-col">
  <button id="menu-dialect" value="" class="mdl-button mdl-js-button ">
    Current type: Yoda
  </button>
  <ul class="mdl-menu mdl-js-menu" for="menu-dialect">
    <% @dialects.each do |dialect, value| %>
      <li class="mdl-menu__item" value="<%=value%>"><%= dialect %></li>
    <% end %>
  </ul>

  <ul id="conversation" class="demo-list-item mdl-list" >

  </ul>

  <%= text_area_tag(:message_content, nil, class: 'mdl-textfield__input') %>

  <%= button_tag("Enviar", id: "send_button", type: "button", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect") %>

</div>